.App {
}

.App-logo {
  height: 80px;
  filter:brightness(0) invert(1);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#355C7D,#6C5B7B,#C06C84) no-repeat center center fixed;
  background-position: center;
  height: 100%;
  background-size: cover;
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  color: rgba(0,0,0,.6);
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p, ol, ul {
  color: black;
}

ol, ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

#error-Message {
  color: white;
  text-align: center;
  clear:both;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

#error-Message p {
  color: white;
}

.container {
  margin: 0px auto;
  width: 1200px;
}

.createPost {
  float:left;
  height: 45px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.categoryPlaceholder {
  height: 45px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  line-height: 35px;
}

.sortMethodPlaceholder {
  float:right;
  height: 45px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  line-height: 35px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
  display: inline-block;
  border: 1px solid rgba(0,0,0,.1);
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  margin: 5px;
  width: auto;
  text-align: center;
  height: auto;
  background-color: #0094d9;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button:hover {
  background-color: #4682B4;
  color: white;
}

.button:active {
  background-color: #00008B;
  color: white;
}

/*********************************************************************************/
/* Category dropdown                                                              */
/*********************************************************************************/
.select-category {
  height: 45px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.select-category-option {
   color:black;
}

/*********************************************************************************/
/* Sort Method dropdown                                                          */
/*********************************************************************************/

.select-sort-method {
  float: right;
  height: 45px;
  background-color: transparent;
  color: white;
  border: 2px solid white; /* Green */
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.select-sort-method-option {
   color:black;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
  margin-bottom: 3em;
}

.title h2 {
  font-size: 2.8em;
}

.title .byline {
  font-size: 1.1em;
  color: #6F6F6F#;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
  overflow: hidden;
  background: #2056ac;
}

#header {
  text-align: center;
}

.container {
  margin: 0px auto;
  width: 1200px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  padding: 2em 0em 2em 0em;
  border-color: white;
  border-style: solid;
  margin-bottom: 15px;
  margin-top: 5px;
  font-family: 'Questrial', sans-serif;
}

#logo h1 {
  display: block;
  margin-bottom: 0.20em;
  padding: 0.20em 0.9em;
  font-size: 3.5em;
  color: white;
}

#logo a {
  text-decoration: none;
  color: #FFF;
}

#logo span {
  text-transform: uppercase;
  font-size: 2.90em;
  color: rgba(255,255,255,1);
}

#logo span a {
  color: rgba(255,255,255,0.8);
}

/*********************************************************************************/
/* Post                                                                 */
/*********************************************************************************/
#post {
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
  display: block;
  text-align: left;
  background: white;
  border-radius: 10px;
}

#post .header {
  padding: 10px;
}

#post h3 {
  color: #614385;
}

#post .body {
  padding: 10px;
  background: linear-gradient(#D3CCE3,#E9E4F0) no-repeat center center fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#post .title {
  padding: 10px;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

#post .description {
  margin-top: 5px;
  font-size: 18px;
}

#post .author {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

#post .category {
  color: #00008B;
  font-size: 16px;
  font-weight: bolder;
}

#post .timestamp {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#post .votescore {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;
}

#post .comments {
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding: 0;
}

/*********************************************************************************/
/* Post Details                                                                  */
/*********************************************************************************/
#postDetails {
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
  display: block;
  text-align: left;
}

#postDetails .header {
  padding: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#postDetails span.home {
  font-weight: bold;
  padding: 10px;
}

#postDetails .body {
  padding: 10px;
  background: linear-gradient(#D3CCE3,#E9E4F0) no-repeat center center fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#postDetails .title {
  padding: 10px;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

#postDetails .description {
  margin-top: 5px;
  font-size: 18px;
}

#postDetails .author {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

#postDetails .category {
  color: #00008B;
  font-size: 16px;
  font-weight: bolder;
}

#postDetails .timestamp {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#postDetails .votescore {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;
}

#postDetails .commentTitle {
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}

#postDetails .addCommentTitle {
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0;
}

#postDetails .comments {
  background: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#postDetails .commentInput {
  background: white;
  border-radius: 5px;
  padding: 3px;
  font-size: 16px;
  margin-bottom: 5px;
  width: 99%;
}


#postDetails p.commentAuthor {
  background: white;
  margin:0px;
  font-size:18px;
  font-weight: bold;
  color:black;
}

#postDetails p.commentBody {
  background: white;
  margin:0px;
  font-size: 16px;
  font-weight: normal;
}

#postDetails p.comment {
  background: white;
  margin:0px;
}

#postDetails p.commentVote {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;
}

/*********************************************************************************/
/* Upvote and downvote icons                                                     */
/*********************************************************************************/
.vote {
  margin-right: 10px;
}

.vote:hover {
  color:blue;
}

.vote:active {
  color:#00008B;
}

/*********************************************************************************/
/* Modal                                                                         */
/*********************************************************************************/
.modal {
  height: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  background-color: white;
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* Home Icon                                                                     */
/*********************************************************************************/
.homeIcon {
  width: 100px;
  text-align: center;
  filter:brightness(0) invert(1);
  color: white;
  border: solid white;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*********************************************************************************/
/* Empty Post Icon                                                                */
/*********************************************************************************/
.emptyIcon {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  filter:brightness(0) invert(1);
  border: none;
  outline: none;
}

/*********************************************************************************/
/* Delete Icon                                                                   */
/*********************************************************************************/
.deleteIcon {
  float:right;
}

.editIcon {
  float:right;
  margin-top: 2px;
}

/*********************************************************************************/
/* Edit Comment                                                                  */
/*********************************************************************************/
.editCommentModal {
  height: auto;
  position: absolute;
  top: 230px;
  left: 200px;
  right: 200px;
  bottom: 230px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  outline: none;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  background-color: white;
}

.editCommentOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

#editComment {
  height: 100%;
  text-align: left;
  padding: 10px;
}

#editComment input {
  width: 90%;
  margin-left: 5px;
  font-size: 20px;
}

#editComment p.author {
  font-weight: bold;
  margin-left: 5px;
}

/*********************************************************************************/
/* Create Post                                                                   */
/*********************************************************************************/

.createPostModal {
  width: auto;
  height: auto;
  position: absolute;
  top: 220px;
  left: 250px;
  right: 250px;
  bottom: 220px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  outline: none;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.createPostOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
}

#createPost {
  width: auto;
  height: auto;
}

#createPost input {
  outline:none;
  border:none;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

#createPost select {
  outline:none;
  border:none;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

/*********************************************************************************/
/* Edit Post                                                                     */
/*********************************************************************************/
.editPostModal {
  width: auto;
  height: auto;
  position: absolute;
  top: 200px;
  left: 250px;
  right: 250px;
  bottom: 200px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  outline: none;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.editPostOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
}

#editPost {
  width: auto;
  height: auto;
  text-align: left;
  padding: 10px;
}

#editPost input {
  outline:none;
  border:none;
  height: 30px;
  border-bottom: 1px solid #aaa;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 10px;
}

#editPost .title {
  outline:none;
  border:none;
  height: 30px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin:5px;
}

#editPost select {
  outline:none;
  border:none;
  width: 90%;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
.footer{
  margin-top: 30px;
  margin-bottom: 20px;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
}